
    <h1>{{title}}</h1>
    <form action="/users" method="POST" enctype="multipart/form-data">
        <input type="text" name="name">
        <input type="text" name="email">
        <input type="file" name="profilePic">
        <button>Submit</button>
    </form>

