@import "grid";

html {
    font-family: Arial;
}

.card {
    margin: 10px;
    background-color: $fourth-color;
    border-radius: 10px;
    height: 300px;
}
h1 {
    font-size: 30px;
    text-align: center;
}

h2 {
    font-size: 22px;
    text-align: center;
}
h3 {
    font-size: 14px;
    text-align: center;
}
.topic-input {
    width: 100%;
}

p {
    font-size: 11px;
    text-align: center;
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.button {
    font-size: 12px;
    text-align: center;
    background-color: red;
    padding: 10px;
    border-radius: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
}

a {
    text-decoration: none;
    color: white;
}

.form-input {
    width: 50%;
    font-size: 16px;
    background: $fourth-color;
    display: inline-block;
    border:none;
}

.submitButton {
    background-color:red; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 16px;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
  }

  

